@font-face {
	font-family: "Basiic";
	src: url("https://kaorisu.nekoweb.org/fonts/basiic.ttf");
}
@font-face {
	font-family: "Tanugo Regular";
	src: url("https://kaorisu.nekoweb.org/fonts/Tanugo-Regular.otf");
}

@font-face {
	font-family: "Tanugo Bold";
	src: url("https://kaorisu.nekoweb.org/fonts/Tanugo-Bold.otf");
}
body {
	color: #8d3950;
	font-family: "Basiic";
}

a {
	color: #eb8199;
}

h1:before {
	content: url("https://graphic.neocities.org/flw4.gif");
	padding-right: 5px;
	margin-top: 5px;
}

h1 {
	font-family: "Tanugo Bold";
	margin-top: 10px;
	color: white;
	text-shadow: 1px 1.3px #d9849b;
	font-weight: bold;
}
.heading {
	background-color: pink;
	font-size: 10px;
	border-radius: 1px 30px 30px;
}

h2 {
	color: #d9849b;
	padding-left: 25px;
}

/* Split Text Container by sadgrl */

.container {
	max-width: 800px;
}

.columns {
	columns: 2; /* change this number for column number! */
	column-gap: 20px; /* the space between each column */
	column-rule: 2px solid #8d3950; /* adds a line between your columns */
}

/* without this line of code, the top margin of the p tag makes the columns crooked */
.columns p {
	margin-top: 0;
}

h4 {
	margin-top: -3px;
	color: white;
	text-shadow: 1px 1.3px #d9849b;
	font-weight: bold;
}

.subheading {
	padding-top: 5px;
	margin: 2px;
	background-color: pink;
}

table {
	border: 2px solid #8d3950;
	width: 500px;
}
td {
	border: 0.3px solid #8d3950;
	width: 25px;
	height: 80px;
	font-family: "Basiic";
}

.date {
	background-color: pink;
	color: #fff;
	font-family: "Tanugo Bold";
	text-shadow: 1px 1.3px #d9849b;
}

#images-wrapper {
	line-height: 0;
	-webkit-column-count: 5;
	-webkit-column-gap: 0px;
	-moz-column-count: 5;
	-moz-column-gap: 0px;
	column-count: 5;
	column-gap: 0px;
}
#images-wrapper img {
	width: 100% !important;
	height: auto !important;
}
#images-wrapper {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 1000px) {
	#images-wrapper {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media (max-width: 800px) {
	#images-wrapper {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media (max-width: 400px) {
	#images-wrapper {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
