@font-face {
	font-family: "Basiic";
	src: url("https://kaorisu.nekoweb.org/fonts/basiic.ttf");
}
@font-face {
	font-family: "Tanugo Regular";
	src: url("https://kaorisu.nekoweb.org/fonts/Tanugo-Regular.otf");
}

@font-face {
	font-family: "Tanugo Bold";
	src: url("https://kaorisu.nekoweb.org/fonts/Tanugo-Bold.otf");
}

/* Melon's Gallery Maker! 0.0.2+ */

#images-wrapper {
	line-height: 0;
	-webkit-column-count: 5;
	-webkit-column-gap: 0px;
	-moz-column-count: 5;
	-moz-column-gap: 0px;
	column-count: 5;
	column-gap: 0px;
}
#images-wrapper img {
	width: 100%;
	height: auto;
}
#images-wrapper {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 1000px) {
	#images-wrapper {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media (max-width: 800px) {
	#images-wrapper {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media (max-width: 400px) {
	#images-wrapper {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

body {
	font-family: "Basiic";
	background-color: #fff;
	font-size: 1.1em;
	padding: 30px;
}

a,
a:visited {
	color: #6138ff;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

header,
body > section,
footer {
	padding: 5px;
}

nav {
	margin: 10px;
	clear: both;
}

footer {
	clear: both;
	font-size: 0.7em;
	padding-top: 30px;
}

/* Gallery Pages */

#photos {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

#photos figure {
	margin: 5px;
	max-width: min-content;
}

#photos img {
	border: 3px ridge #c3c3c3;
	/* Enable this for pixel art!! */
	/* image-rendering: pixelated; */
}

#photos img:hover {
	border-color: #ffda00;
}

#photos span {
	text-align: center;
	display: block;
}

#photos figcaption {
	padding: 10px 0px;
}

.page-links {
	text-align: center;
}

.page-links ul {
	padding: 0px 5px;
	margin: 10px 0px;
	display: inline-block;
}
.page-links li {
	list-style: none;
	display: inline;
	margin: 0px 3px;
}

/* Mobile Styling */

@media (max-width: 800px) {
	body {
		padding: 10px;
	}

	#photos figure {
		width: 95%;
		max-width: unset;
	}

	#photos img {
		width: 100%;
	}
}

/* Styling for JavaScript viewer (if enabled) */

#js-viewer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.612);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#js-viewer img {
	max-width: 95%;
	max-height: 80%;
	height: auto;
	width: auto;
	border: 3px ridge #c3c3c3;
}

#js-viewer span {
	margin-top: 10px;
}

#js-viewer span button {
	border-radius: 0px;
	border: 2px outset #cecece;
	background-color: #8d3950;
	cursor: pointer;
}

#js-viewer span button:hover {
	border: 2px inset #cecece;
	background-color: #b8b8b8;
}
